### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
.idea/workspace.xml
.idea/tasks.xml
.idea/shelf/
.idea/dictionaries/
.idea/libraries/
.idea/modules.xml
.idea/uiDesigner.xml
.idea/misc.xml
.idea/vcs.xml
.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/inspectionProfiles/

# Логи и временные файлы
*.log
*.tmp
*.temp
*.cache

# Системные файлы ОС
.DS_Store
Thumbs.db
desktop.ini
*.swp
*.swo
*~

# Скомпилированные файлы
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.tgz

data.csv
test1.txt
test2.txt
test3.txt